<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Agrupamiento de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

3. Devuelve los resultados siempre en formato de DataFrame

#### Ejercicio 1: ¿Cuántos títulos hay por cada tipo de contenido ('Movie' o 'TV Show')?

In [1]:
# Carga el dataset de trabajo
import pandas as pd
import numpy as np
df1 = pd.read_csv('Lab2.csv')

In [26]:
df1.head(1)
titulos_por_contenido = df1.groupby('type').size()
titulos_por_contenido

type
Movie      6131
TV Show    2676
dtype: int64

#### Ejercicio 2: ¿Cuál es el promedio de puntuación de las películas agrupadas por clasificación de audiencia ('rating')? Interpreta los resultados, ¿hay algo que te llame la atención? Explica por qué.

In [28]:
df1.head(1)

,Unnamed: 0,title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English,s1,Movie,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [30]:
promedio_por_rating = df1.groupby('rating')['IMDB Score'].mean()
promedio_por_rating

rating
66 min           NaN
74 min           NaN
84 min           NaN
G           6.500000
NC-17            NaN
NR               NaN
PG          6.800000
PG-13       6.386957
R           6.495745
TV-14       6.177660
TV-G        6.156250
TV-MA       6.097638
TV-PG       6.308772
TV-Y        6.780000
TV-Y7       6.240000
TV-Y7-FV         NaN
UR               NaN
Name: IMDB Score, dtype: float64

#### Ejercicio 3: ¿Cuántos títulos hay por cada país? Ordena los resultados de mayor a menor

In [32]:
titulos_pais = df1.groupby('country').size().sort_values(ascending=False)
titulos_pais

country
United States          2818
India                   972
United Kingdom          419
Japan                   245
South Korea             199
                       ...
Australia, Iraq           1
Venezuela                 1
Venezuela, Colombia       1
West Germany              1
, South Korea             1
Length: 748, dtype: int64

#### Ejercicio 4: ¿Cuál es la calificación promedio en IMDb de los títulos agrupados por tipo ('Movie' o 'TV Show')?

In [35]:
promedio = df1.groupby('type')['IMDB Score'].mean()
promedio

type
Movie      6.210916
TV Show         NaN
Name: IMDB Score, dtype: float64

#### Ejercicio 5: ¿Cuántos títulos se añadieron a Netflix cada año? Para resolver este ejercicio tendrás uqe convertir la columna `date_added` a formato fecha usando el método `pd.to_datetime`. [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) tienes la documentación, leeala con detenimiento antes de usar el método.

In [ ]:
df1[["date_added"]]
df1["date_added"] = pd.to_datetime(df1["date_added"])
df1["year"] = df1["date_added"].dt.year
df1.groupby("year")[["title"]].count().sort_values(by="title",ascending=False)

#### Ejercicio 6: ¿Cuál es el país con más títulos lanzados en el año 2020? Para resolver este ejercicio después del gropuby os puede resultar interesante el método [`idxmax`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)

In [47]:
df1.query("release_year == 2020").groupby("country")[["title"]].count().idxmax()

title    United States
dtype: object

#### Ejercicio 7:¿Cuál es el promedio de puntuación en IMDb de los títulos agrupados por país?

In [49]:
df1.groupby("country")[["IMDB Score"]].mean()

                                                    IMDB Score
country
, France, Algeria                                          NaN
, South Korea                                              NaN
Argentina                                                 6.42
Argentina, Brazil, France, Poland, Germany, Den...         NaN
Argentina, Chile                                           NaN
...                                                        ...
Venezuela                                                  NaN
Venezuela, Colombia                                        NaN
Vietnam                                                    NaN
West Germany                                               NaN
Zimbabwe                                                   NaN

[748 rows x 1 columns]

#### Ejercicio 8: ¿Cuántos títulos fueron lanzados en cada año agrupados por tipo ('Movie' o 'TV Show')?

In [50]:
df1.groupby(["type","release_year"])[["title"]].count().sort_index(level=1,ascending=False)[:20]

                      title
type    release_year
TV Show 2021            315
Movie   2021            277
TV Show 2020            436
Movie   2020            517
TV Show 2019            397
Movie   2019            633
TV Show 2018            380
Movie   2018            767
TV Show 2017            265
Movie   2017            767
TV Show 2016            244
Movie   2016            658
TV Show 2015            162
Movie   2015            398
TV Show 2014             88
Movie   2014            264
TV Show 2013             63
Movie   2013            225
TV Show 2012             64
Movie   2012            173

#### Ejercicio 9: ¿Cuál es el país con la mayor cantidad de títulos de clasificación 'TV-MA'?

In [51]:
df1.query("rating == 'TV-MA'").groupby("country")[["title"]].count().idxmax()

title    United States
dtype: object

#### Ejercicio 11: ¿Cuál es el número total de títulos por país y clasificación de audiencia ('rating')?

In [52]:
df1.groupby(["country","rating"])[["title"]].count().sort_values(by="title",ascending=False)

                                                           title
country                                            rating
United States                                      TV-MA     928
India                                              TV-14     550
United States                                      R         440
                                                   TV-14     406
                                                   PG-13     289
...                                                          ...
Denmark, France, Belgium, Italy, Netherlands, U... R           1
United States, South Africa                        TV-14       1
United States, South Korea                         TV-Y        1
                                                   TV-Y7       1
Argentina, Italy                                   TV-MA       1

[1175 rows x 1 columns]

#### Ejercicio 12: ¿Cuántos títulos fueron lanzados antes del año 2000 agrupados por país?

In [53]:
df1.query("release_year < 2000").groupby("country")[["title"]].count().sort_values(by="title",ascending=False)

                                                    title
country
United States                                         245
India                                                  81
Hong Kong                                              29
United Kingdom                                         18
United Kingdom, United States                          12
...                                                   ...
United States, Italy, France, Japan                     1
United States, Japan                                    1
United States, Italy, United Kingdom, Liechtens...      1
United States, New Zealand                              1
West Germany                                            1

[65 rows x 1 columns]

#### Ejercicio 13: ¿Cuál es la puntuación promedio en IMDb de los títulos lanzados en 2021 agrupados por país?

In [54]:
df1.query("release_year == 2021").groupby("country")[["IMDB Score"]].mean().sort_values(by="IMDB Score",ascending=False)

                               IMDB Score
country
Belgium, Netherlands                  7.1
United Kingdom                        7.1
India, United States                  7.1
France, United States                 6.5
Spain                                 6.4
...                                   ...
United States, Mexico                 NaN
United States, Singapore              NaN
United States, United Kingdom         NaN
Uruguay, Germany                      NaN
Vietnam                               NaN

[75 rows x 1 columns]

#### Ejercicio 14: ¿Cuántos títulos fueron dirigidos por cada director? Ordena los resultados de mayor a menor

In [55]:
df1.query("release_year == 2021").groupby("director")[["title"]].count().sort_values(by="title",ascending=False)

                                                    title
director
Rathindran R Prasad                                     4
Leigh Janiak                                            3
Ben Simms                                               2
Julien Leclercq                                         2
Chapman Way, Maclain Way                                2
...                                                   ...
Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket Ch...      1
Augustine Frizzell                                      1
Avi Federgreen                                          1
Bao Nhan, Namcito                                       1
Adrián García Bogliano                                  1

[285 rows x 1 columns]

#### Ejercicio 15: ¿Cuál es el lenguaje más frecuente en los títulos lanzados en los últimos 5 años agrupado por país?

In [57]:
import datetime
cincoaños = datetime.datetime.now().year - 5